.old-builds{
  padding-right: 0px; 
  padding-left: 0px;
background-color: #333333;
}

.buildList img {
	width: 10%;
    height: auto;
    padding-bottom: 1em;
    }

.pastbuildbutton img {
    height: 5em;
    width: auto;
    float: left;
}


